<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="Laptop" class="org.Das_Project_SetterInjection.Laptop">

                <property name="price" value="22"/>
                 <property name="dis" ref="Desktop_1"/>
    </bean>


    <bean id="Desktop_1" class="org.Das_Project_SetterInjection.Desktop"> </bean>


</beans>

