<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="Laptop" class="org.Das_Project_ConstructorInjection.Laptop">

        <constructor-arg index="0" value="22" />
        <constructor-arg index="1" value="Blue" />
    </bean>





</beans>

